{% extends "base.html" %}
{% block content %}
<h2>Record New Job</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
        {{ form.employee_id.label }}<br>
        {{ form.employee_id() }}
    </p>
    <p>
        {{ form.employer_id.label }}<br>
        {{ form.employer_id() }}
    </p>
    <p>
        {{ form.jobTitle.label }}<br>
        {{ form.jobTitle() }}
    </p>
    <p>
        {{ form.startDate.label }}<br>
        {{ form.startDate() }}
    </p>
    <p>
        {{ form.endDate.label }}<br>
        {{ form.endDate() }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

## THIS IS JUST A PLACE HOLDER